%p#notice= notice

%p
  %b Company name:
  = @map.company_name
%p
  %b Company address:
  = @map.company_address
%p
  %b Latitude:
  = @map.latitude
%p
  %b Longitude:
  = @map.longitude
%p
  %b Contract num:
  = @map.contract_num
%p
  %b Comment:
  = @map.comment
%p
  %b Customer type:
  = @map.customer_type

= link_to 'Edit', edit_map_path(@map)
\|
= link_to 'Back', maps_path
